ipykernel
jinja2
nbsphinx>=0.3.1
numpydoc
Sphinx
sphinx-copybutton
sphinx-math-dollar
sphinx-mdinclude
sphinx-prompt
sphinxcontrib-bibtex
sphinx-book-theme
myst-nb
jupyterlab-myst
nbclient!=0.10.3

matplotlib
numpy
scipy
sympy
pynucastro @ git+https://github.com/pynucastro/pynucastro
myst-nb
mesa-reader @ git+https://github.com/wmwolf/py_mesa_reader
unyt
pyro-hydro
